<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ostosAppi-api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Credentials" value="true"/>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, PATCH" />
          <add name="Access-Control-Allow-Headers" value="content-type" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2754f956-a727-4409-b4e6-7b75fe5c7d33-->